@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

#logo { background: url(../hausautomatisierung-com/images/haus_automatisierung.png) no-repeat; height: 120px; margin-left: 40px; margin-top: 10px; position: fixed; width: 220px; top: 0; left: 0; }
#logo:after { color: #e56524; content: "2.4"; opacity: 0.7; }

body { background: #354d69 url(../hausautomatisierung-com/images/bg_wrapper.jpg) no-repeat center 0 fixed; color: #fff; font-family: 'Open Sans', sans-serif; font-size: 14px; margin: 0 auto; padding: 0; tab-size: 4; }

body[id~=Media] { background-color: #A5A5A5; font-family: Arial, sans-serif; font-size: 9px; background-image: url(../icons/Media.bak); background-repeat: no-repeat; }

#menu { margin-left: 20px; margin-top: 140px; width: 260px; z-index: 9999; height: 100%; }
#menu table { border-collapse: collapse; border-radius: 0; width: 100%; }
#menu a { background: #fff; color: #676f7a; display: block; padding: 10px 15px; position: relative; z-index: 9999; line-height: 15px; }

#backimg { position: absolute; top: 15px; left: 320px; }

#fpmenu.fp_arrange { position: absolute; bottom: 20px; left: 20px; min-width: 310px; font-size: 9px; border: 1px solid gray; }

#startcontent { position: absolute; top: 20px; left: 180px; text-align: left; font-size: 16px; }

#hdr { position: absolute; top: 10px; left: 180px; border: 1px solid gray; }

#content { position: absolute; top: 50px; left: 180px; bottom: 10px; right: 10px; text-align: center; }

#errmsg { background-color: #000000; color: #FFFFFF; position: absolute; top: 0px; left: 40px; z-index: 10; }

a { color: #e56524; text-decoration: none; }

img { border-style: none; }

table { -moz-border-radius: 8px; border-radius: 8px; }
table.dummy { min-width: 100px; }
table a:hover { font-weight: bold; }
table#floorplans tr:nth-child(1) { display: none; }

.devicename { font-size: 11px; text-align: center; }

.devicestate { text-align: center; }

.devicecommands { font-size: 14px; text-align: center; }

.devicetimestamp { font-size: 10px; text-align: center; }

#sz_Rollo.devicename { font-size: 14px; }

#sz_Rollo.devicecommands { font-size: 12px; text-align: center; }

#ez_Aussensensor.devicestate { color: green; font-size: 30px; }

#HomeStatus.devicestate { color: green; font-size: 30px; }

#wakeup.devicestate { color: green; font-size: 11px; }

#ez_FHT.devicestate { color: green; font-size: 30px; }

#Home.fp_Grundriss { font-size: 14px; width: 100px; }

#Home.fp_Media { font-size: 14px; text-align: left; }

#Media { font-size: 14px; }

#Grundriss { font-size: 14px; text-align: left; }

.fp_tempvalue { color: red; font-size: 20px; }

.fp_humvalue { color: blue; font-size: 20px; }

h2, h3, h4 { color: #52865D; line-height: 1.3; margin-top: 1.5em; font-family: Arial, Sans-serif; }

/* detail-selector & slider */
select { margin-left: 5px; margin-right: 5px; }

.set, .attr { margin-bottom: 5px; float: left; }

.slider { float: left; width: 140px; height: 26px; border: 2px solid; color: grey; }

.set .slider { background: #F0F0D8; border-radius: 8px; }

/* timepicker */
.set .set { margin-bottom: 2px; margin-top: 3px; }

.handle { position: relative; cursor: pointer; width: 50px; height: 20px; line-height: 20px; user-select: none; border: 3px solid; color: #278727; text-align: center; }

.downText { margin-top: 2px; }

/* next lines are for openautomation-svg */
svg { height: 32px; width: 32px; fill: #fff; vertical-align: middle; margin: 2px 0; }

g.on { fill: red; }

/* next lines are for remotecontrol */
.rc_body { border-style: solid; border-color: gray; border-width: 2px; padding: 5px; background: #C8C8B0; font-size: 6px; }

.rc_button { padding: 5px 7px; }

.rc_button img { border-style: solid; border-width: 1px; border-color: transparent; }

.rc_button img:active { border-color: gray; }
