@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

svg { font-family: 'Open Sans', sans-serif; }
svg .background { fill: #000; }
svg circle#svgmarker { color: #278727; opacity: 0.5; }
svg path.SVGplot { stroke: black; fill: none; }
svg rect.SVGplot { stroke: black; fill: none; }
svg polyline.SVGplot { stroke: gray; fill: none; }
svg .border { stroke: #e56524; fill: #fff; }
svg .vgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .hgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .pasted { stroke: black; stroke-dasharray: 1, 1; }
svg text { stroke: none !important; fill: #676f7a; font-size: 11px; }
svg text.title { fill: #676f7a; font-size: 16px; text-transform: uppercase; letter-spacing: 10px; }
svg text.legend { cursor: pointer; }

.SVGplot.l0 { stroke: #7293cb; }

.SVGplot.l1 { stroke: #ff974c; }

.SVGplot.l2 { stroke: #84ba5b; }

.SVGplot.l3 { stroke: #d35e60; }

.SVGplot.l4 { stroke: #808585; }

.SVGplot.l5 { stroke: #9067a7; }

.SVGplot.l6 { stroke: #995959; }

.SVGplot.l7 { stroke: #ccc210; }

.SVGplot.l8 { stroke: #d43c9e; }

.SVGplot.l0fill { stroke: #7293cb; fill: rgba(114, 147, 203, 0.3); }

.SVGplot.l1fill { stroke: #ff974c; fill: rgba(255, 151, 76, 0.3); }

.SVGplot.l2fill { stroke: #84ba5b; fill: rgba(132, 186, 91, 0.3); }

.SVGplot.l3fill { stroke: #d35e60; fill: rgba(211, 94, 96, 0.3); }

.SVGplot.l4fill { stroke: #808585; fill: rgba(128, 133, 133, 0.3); }

.SVGplot.l5fill { stroke: #9067a7; fill: rgba(144, 103, 167, 0.3); }

.SVGplot.l6fill { stroke: #995959; fill: rgba(153, 89, 89, 0.3); }

.SVGplot.l7fill { stroke: #ccc210; fill: rgba(204, 194, 16, 0.3); }

.SVGplot.l8fill { stroke: #d43c9e; fill: rgba(212, 60, 158, 0.3); }

.SVGplot.l0dot { stroke: #7293cb; stroke-dasharray: 2,4; }

.SVGplot.l1dot { stroke: #ff974c; stroke-dasharray: 2,4; }

.SVGplot.l2dot { stroke: #84ba5b; stroke-dasharray: 2,4; }

.SVGplot.l3dot { stroke: #d35e60; stroke-dasharray: 2,4; }

.SVGplot.l4dot { stroke: #808585; stroke-dasharray: 2,4; }

.SVGplot.l5dot { stroke: #9067a7; stroke-dasharray: 2,4; }

.SVGplot.l6dot { stroke: #995959; stroke-dasharray: 2,4; }

.SVGplot.l7dot { stroke: #ccc210; stroke-dasharray: 2,4; }

.SVGplot.l8dot { stroke: #d43c9e; stroke-dasharray: 2,4; }

.SVGplot.l0fill_stripe { stroke: #7293cb; fill: url(#gr0_stripe); }

.SVGplot.l1fill_stripe { stroke: #ff974c; fill: url(#gr1_stripe); }

.SVGplot.l0fill_gyr { stroke: #7293cb; fill: url(#gr0_gyr); }

text.SVGplot.l0 { stroke: none; fill: #7293cb; }

text.SVGplot.l1 { stroke: none; fill: #ff974c; }

text.SVGplot.l2 { stroke: none; fill: #84ba5b; }

text.SVGplot.l3 { stroke: none; fill: #d35e60; }

text.SVGplot.l4 { stroke: none; fill: #808585; }

text.SVGplot.l5 { stroke: none; fill: #9067a7; }

text.SVGplot.l6 { stroke: none; fill: #995959; }

text.SVGplot.l7 { stroke: none; fill: #ccc210; }

text.SVGplot.l8 { stroke: none; fill: #d43c9e; }

text.SVGplot.l0fill { stroke: none; fill: #7293cb; }

text.SVGplot.l1fill { stroke: none; fill: #ff974c; }

text.SVGplot.l2fill { stroke: none; fill: #84ba5b; }

text.SVGplot.l3fill { stroke: none; fill: #d35e60; }

text.SVGplot.l4fill { stroke: none; fill: #808585; }

text.SVGplot.l5fill { stroke: none; fill: #9067a7; }

text.SVGplot.l6fill { stroke: none; fill: #995959; }

text.SVGplot.l7fill { stroke: none; fill: #ccc210; }

text.SVGplot.l8fill { stroke: none; fill: #d43c9e; }

text.SVGplot.l0dot { stroke: none; fill: #7293cb; }

text.SVGplot.l1dot { stroke: none; fill: #ff974c; }

text.SVGplot.l2dot { stroke: none; fill: #84ba5b; }

text.SVGplot.l3dot { stroke: none; fill: #d35e60; }

text.SVGplot.l4dot { stroke: none; fill: #808585; }

text.SVGplot.l5dot { stroke: none; fill: #9067a7; }

text.SVGplot.l6dot { stroke: none; fill: #995959; }

text.SVGplot.l7dot { stroke: none; fill: #ccc210; }

text.SVGplot.l8dot { stroke: none; fill: #d43c9e; }

text.SVGplot.l0fill_stripe { stroke: none; fill: #7293cb; }

text.SVGplot.l1fill_stripe { stroke: none; fill: #ff974c; }

text.SVGplot.l0fill_gyr { stroke: none; fill: #7293cb; }
