@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

svg { font-family: 'Open Sans', sans-serif; }
svg .background { fill: #000; }
svg circle#svgmarker { color: #278727; opacity: 0.5; }
svg path.SVGplot { stroke: black; fill: none; }
svg rect.SVGplot { stroke: black; fill: none; }
svg polyline.SVGplot { fill: none; }
svg .border { stroke: #e56524; }
svg .vgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .hgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .pasted { stroke: black; stroke-dasharray: 1, 1; }
svg text { stroke: none !important; fill: #fff; font-size: 11px; }
svg text.title { fill: #fff; font-size: 16px; text-transform: uppercase; letter-spacing: 10px; }
svg text.legend { cursor: pointer; }

.SVGplot.l0 { stroke: #215A94; }

.SVGplot.l1 { stroke: #18986E; }

.SVGplot.l2 { stroke: #913100; }

.SVGplot.l3 { stroke: #915700; }

.SVGplot.l4 { stroke: #07325E; }

.SVGplot.l5 { stroke: #006141; }

.SVGplot.l6 { stroke: #FFA77A; }

.SVGplot.l7 { stroke: #5F8AB6; }

.SVGplot.l8 { stroke: #59B99A; }

.SVGplot.l0fill { stroke: #215A94; fill: url(#gr_0); }

.SVGplot.l1fill { stroke: #18986E; fill: url(#gr_1); }

.SVGplot.l2fill { stroke: #913100; fill: url(#gr_2); }

.SVGplot.l3fill { stroke: #915700; fill: url(#gr_3); }

.SVGplot.l4fill { stroke: #07325E; fill: url(#gr_4); }

.SVGplot.l5fill { stroke: #006141; fill: url(#gr_5); }

.SVGplot.l6fill { stroke: #FFA77A; fill: url(#gr_6); }

.SVGplot.l7fill { stroke: #5F8AB6; fill: url(#gr_7); }

.SVGplot.l8fill { stroke: #59B99A; fill: url(#gr_8); }

.SVGplot.l0dot { stroke: #215A94; stroke-dasharray: 2,4; }

.SVGplot.l1dot { stroke: #18986E; stroke-dasharray: 2,4; }

.SVGplot.l2dot { stroke: #913100; stroke-dasharray: 2,4; }

.SVGplot.l3dot { stroke: #915700; stroke-dasharray: 2,4; }

.SVGplot.l4dot { stroke: #07325E; stroke-dasharray: 2,4; }

.SVGplot.l5dot { stroke: #006141; stroke-dasharray: 2,4; }

.SVGplot.l6dot { stroke: #FFA77A; stroke-dasharray: 2,4; }

.SVGplot.l7dot { stroke: #5F8AB6; stroke-dasharray: 2,4; }

.SVGplot.l8dot { stroke: #59B99A; stroke-dasharray: 2,4; }

.SVGplot.l0fill_stripe { stroke: #215A94; fill: url(#gr0_stripe); }

.SVGplot.l1fill_stripe { stroke: #18986E; fill: url(#gr1_stripe); }

.SVGplot.l0fill_gyr { stroke: #215A94; fill: url(#gr0_gyr); }

text.SVGplot.l0 { stroke: none; fill: #215A94; }

text.SVGplot.l1 { stroke: none; fill: #18986E; }

text.SVGplot.l2 { stroke: none; fill: #913100; }

text.SVGplot.l3 { stroke: none; fill: #915700; }

text.SVGplot.l4 { stroke: none; fill: #07325E; }

text.SVGplot.l5 { stroke: none; fill: #006141; }

text.SVGplot.l6 { stroke: none; fill: #FFA77A; }

text.SVGplot.l7 { stroke: none; fill: #5F8AB6; }

text.SVGplot.l8 { stroke: none; fill: #59B99A; }

text.SVGplot.l0fill { stroke: none; fill: #215A94; }

text.SVGplot.l1fill { stroke: none; fill: #18986E; }

text.SVGplot.l2fill { stroke: none; fill: #913100; }

text.SVGplot.l3fill { stroke: none; fill: #915700; }

text.SVGplot.l4fill { stroke: none; fill: #07325E; }

text.SVGplot.l5fill { stroke: none; fill: #006141; }

text.SVGplot.l6fill { stroke: none; fill: #FFA77A; }

text.SVGplot.l7fill { stroke: none; fill: #5F8AB6; }

text.SVGplot.l8fill { stroke: none; fill: #59B99A; }

text.SVGplot.l0dot { stroke: none; fill: #215A94; }

text.SVGplot.l1dot { stroke: none; fill: #18986E; }

text.SVGplot.l2dot { stroke: none; fill: #913100; }

text.SVGplot.l3dot { stroke: none; fill: #915700; }

text.SVGplot.l4dot { stroke: none; fill: #07325E; }

text.SVGplot.l5dot { stroke: none; fill: #006141; }

text.SVGplot.l6dot { stroke: none; fill: #FFA77A; }

text.SVGplot.l7dot { stroke: none; fill: #5F8AB6; }

text.SVGplot.l8dot { stroke: none; fill: #59B99A; }

text.SVGplot.l0fill_stripe { stroke: none; fill: #215A94; }

text.SVGplot.l1fill_stripe { stroke: none; fill: #18986E; }

text.SVGplot.l0fill_gyr { stroke: none; fill: #215A94; }
