attr global userattr DbLogExclude DbLogInclude cmdIcon devStateIcon devStateStyle genericDeviceType:security,ignore,switch,outlet,light,blind,thermometer,thermostat,contact,garage,window,lock homebridgeMapping:textField-long icon sortby webCmd widgetOverride
attr global autoload_undefined_devices 1
attr global icon it_network
attr global logfile -
attr global modpath .
attr global motd none
attr global room System
attr global sendStatistics onUpdate
attr global statefile ./log/fhem.save
attr global updateInBackground 0
attr global verbose 2
attr global nofork 1
attr global perlSyntaxCheck 1

define telnetPort telnet 7072 global
attr telnetPort room System

define WEB FHEMWEB 8083 global
attr WEB CssFiles hausautomatisierung-com/styles.css
attr WEB JavaScripts codemirror/fhem_codemirror.js
attr WEB editConfig 1
attr WEB icon it_i-net
attr WEB menuEntries haus-automatisierung.com,https://haus-automatisierung.com/
attr WEB plotWeekStartDay 1
attr WEB room System
attr WEB roomIcons Homekit:audio_audio Log:edit_paste System:it_network Save.config:message_attention Everything:it_i-net Unsorted:unknown Commandref:system_fhem Remote.doc:message_mail Edit.files:edit_copy Select.style:edit_open Event.monitor:edit_settings
attr WEB title FHEM Docker (haus-automatisierung.com)

# Fake FileLog entry, to access the fhem log from FHEMWEB
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
attr Logfile icon edit_paste
attr Logfile room Log

define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y.log
attr autocreate room System

define eventTypes eventTypes ./log/eventTypes.txt
attr eventTypes room System

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create
attr initialUsbCheck room System
define DBLogging DbLog /opt/fhem/contrib/dblog/db.conf .*:.*
attr DBLogging icon time_note
attr DBLogging room Log
define DBLogging_Reopen at +*00:15:00 set DBLogging reopen
attr DBLogging_Reopen room Log
define testSwitch dummy
attr testSwitch genericDeviceType switch
attr testSwitch room Homekit
attr testSwitch setList on off
attr testSwitch webCmd on:off
